body{
    margin: 0px;
    background-color: antiquewhite;
}
.entete{
    border: 1px solid black;
    background-color:black;
    color: white;
    text-align: center;
}
.main{
    width: 90%;
    margin: auto;
}

.premiere_partie{
    display: flex;
    justify-content: space-between;
}
.formulaire{
    padding: 15px 0px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
.utilisateur{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
input{
    width: 150%;
    height: 20px;
    border-radius: 9px;
    border: 2px solid #fff;
    transition: background-color 1200ms;
}
input:focus{
    border: 2px solid rebeccapurple;
}

input:not(:focus):invalid{
    background-color: red;
    border: 2px solid red;
}

img{
    width: 150px;
}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.bloc{
    transition: transform 400ms;
}
.bloc:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: black;
}
.image{
    width: 170px;
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
}
/* film animation */
.mario{
    background-image: url(Images/super_mario_bros.jpg);
}
.dragon{
    background-image: url(Images/how_to_train_your_dragon.jpg);
}
.croods{
    background-image: url(Images/croods_2.jpg);
}
.neige{
    background-image: url(Images/La-Reine-des-Neiges-1.jpg);
}

/* film policers */
.flic{
    background-image: url(Images/le-flic-de-beverly-hills-1-.jpg.webp);
}
.boys{
    background-image: url(Images/bad_boys.webp);
}
.die{
    background-image: url(Images/Die_Hard.jpg);
}
.shaft{
    background-image: url(Images/Shaft.jpg);
}

/* film basé sur de faits réel */
.figure{
    background-image: url(Images/les_figures_de_l_ombre.jpg);
}
.bob{
    background-image: url(Images/bob_marley_one_love.jpg);
}
.compton{
    background-image: url(Images/Strainght_outta_compton.jpg);
}
.num24{
    background-image: url(Images/Numéro_24.jpg);
}
.dolemite{
    background-image: url(Images/dolemite_is_my_name.webp);
}

/* mise en page */

.aside{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0 ;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.detail{
    background-color: white;
    position: absolute;
    max-width: 1100px;
    height: 800px;
    width: 100%;
    border-radius: 40px 5px;
    padding: 20px;
    
}
.detail h1{
    text-align: center;
}
.detail img{
    display: inline-block;
    width: 500px;
    height: 650px;
}
.bloc_film{
    display: flex;
    gap: 20px;
    align-items: center;
}
.text_film p{
    font-size: 1.3em;
    margin-bottom: 50px;
}
.boutton{
    background-color: red;
    width: 250px;
    height: 40px;
    border-radius: 30px ;
    display: block;
    margin-top: 20px !important;
    color: aliceblue;
    font-weight: bolder;
    font-size: 1.1em;
    margin: auto;
}
.fermeture{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    font-size: 1.4em;
}